@use '../../../../shared/styles/variables' as *;

.section {
  margin-bottom: 32px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
