# Gateway URL (microservice gateway)
VITE_GATEWAY_URL=http://localhost:5050

# IAM backend (cty)
VITE_API_TOKEN_URL=https://iam.example.com

# URL IAM redirect về sau khi SSO thành công
VITE_CALLBACK_URL=http://localhost:5173/login-callback

# App ID đăng ký với IAM
VITE_APP_ID=your-app-id-here

